[network]

# Specify the addresses the server will listen on.  The listen6 form
# will listen on IPv4 and IPv6, so that is the most useful.  Use the
# listen4 form if you have no IPv6 support in your kernel.
#
# If you want to listen on additional addresses, specify them as
# listen6.1, listen6.2, etc.

# listen4.1 = 0.0.0.0, 41810
listen6.1 = ::, 41810

[database]

host = localhost
port = 27017
prefix = main.fruit

[game]

# If you are changing the scene frequently, you may get a problem with
# Cloudfront serving up out of date files.  To prevent this, make the
# scene point directly to your S3 bucket, as in the second option
# below.  Don't forget to change it back for improved performance
# later.
#
# Please don't use my (Pete's) S3 bucket directly, because the files
# might be moved.  I'm intending to keep cdn.friendlyfruit.org
# pointing somewhere sensible, but I don't know where I'll choose to
# host it in the future.

scene = http://cdn.friendlyfruit.org/demo/
# scene = https://s3-eu-west-1.amazonaws.com/friendlyfruit/demo/
